body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #ff7f50;
}

label {
    display: block;
    margin-top: 20px;
}

input[type="date"] {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #ff7f50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6347;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
}
